# ignore everything
/

# exclude bitrix
/home/bitrix/ext_www/im.btx.bz/bitrix
/home/bitrix/ext_www/im-lk.btx.bz/bitrix
/home/bitrix/ext_www/im.btx.bz/upload
/home/bitrix/ext_www/im-lk.btx.bz/upload
/home/bitrix/ext_www/im-lk.btx.bz/local

# settings
!/.gitignore


