.doctorData-spec {
  max-width: 160px;
  display: inline-block;
  text-align: center;
  margin-left: 3px;
  line-height: 12px; }

.slider .doctorData-name {
  display: block;
  height: 42px;
  width: 55%;
  margin: 0 auto 8px;
}

div.bk {
  background: none;
  padding-left: 31px; }
  div.bk a {
    text-decoration: none; }
    div.bk a:hover {
      text-decoration: underline; }

div.bk2 {
  font-family: "Lobster", Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-left: 36px;
  color: #00a5d5; }

.no_title {
  display: none; }
  .no_title ~ .img-analizy {
    display: block; }
    .no_title ~ .img-analizy p {
      margin: 0; }

.search_block {
  padding-bottom: 20px; }

.wr_btn_analise {
  text-align: center; }
  .wr_btn_analise .btn_analise {
    display: inline-block;
    vertical-align: top;
    padding: 6px 8px 5px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ff7f00;
    border-radius: 5px;
    background: #008eb7; }
    .wr_btn_analise .btn_analise:hover {
      color: #fff;
      border-color: #00a5d5; }

.wr_noresult {
  width: 600px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  padding: 10px;
  margin: 30px auto 30px;
  text-align: center; }
  .wr_noresult .title {
    font-size: 24px;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
    color: #000;
    padding-bottom: 10px; }
  .wr_noresult .body_r {
    font-size: 16px;
    line-height: 24px; }
