Options -Indexes
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag allow_call_time_pass_reference 1
  php_flag session.use_trans_sid off

  #php_value display_errors 1

  #php_value mbstring.func_overload 2
  #php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([^.]+)(?<!/)$ /$1/ [R=301,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
</IfModule>
Redirect 301	/o-kompanii/napravleniya-kliniki/article_post/travmatolog-ortoped/ https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/travmatolog-ortoped
Redirect 301	/informaciya/article_post/day-hospital/	https://xn--e1afaobah5bbf3a.xn--p1ai/informaciya/day-hospital/
Redirect 301	/informaciya/article_post/laboratoriya/	https://xn--e1afaobah5bbf3a.xn--p1ai/informaciya/laboratoriya/
Redirect 301	/napravleniya-kliniki/article_post/akusher-ginekolog	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/akusher-ginekolog
Redirect 301	/napravleniya-kliniki/article_post/bolnichnyye-listy	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/bolnichnyye-listy
Redirect 301	/napravleniya-kliniki/article_post/bolnichnyy-list-po-beremennosti	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/bolnichnyy-list-po-beremennosti
Redirect 301	/napravleniya-kliniki/article_post/vyyezd-uzi-na-dom	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/vyyezd-uzi-na-dom
Redirect 301	/napravleniya-kliniki/article_post/gastroinerolog	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/gastroinerolog
Redirect 301	/napravleniya-kliniki/article_post/gastroskopiya	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/gastroskopiya
Redirect 301	/napravleniya-kliniki/article_post/gynecology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/gynecology
Redirect 301	/napravleniya-kliniki/article_post/dermatovenereology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/dermatovenereology
Redirect 301	/napravleniya-kliniki/article_post/zabor-krovi-na-domu	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/zabor-krovi-na-domu
Redirect 301	/napravleniya-kliniki/article_post/cardiology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/cardiology
Redirect 301	/napravleniya-kliniki/article_post/koloproktolog	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/koloproktolog
Redirect 301	/napravleniya-kliniki/article_post/manualnyy-terapevt	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/manualnyy-terapevt
Redirect 301	/napravleniya-kliniki/article_post/massazh	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/massazh
Redirect 301	/napravleniya-kliniki/article_post/neurology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/neurology
Redirect 301	/napravleniya-kliniki/article_post/neonatology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/neonatology
Redirect 301	/napravleniya-kliniki/article_post/onkoginekolog	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/onkoginekolog
Redirect 301	/napravleniya-kliniki/article_post/onkodermatolog	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/onkodermatolog
Redirect 301	/napravleniya-kliniki/article_post/onkologiya	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/onkologiya
Redirect 301	/napravleniya-kliniki/article_post/otolaryngology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/otolaryngology
Redirect 301	/napravleniya-kliniki/article_post/ophthalmology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/ophthalmology
Redirect 301	/napravleniya-kliniki/article_post/pediatrics	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/pediatrics
Redirect 301	/napravleniya-kliniki/article_post/plastic-surgery	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/plastic-surgery
Redirect 301	/napravleniya-kliniki/article_post/psychiatry	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/psychiatry
Redirect 301	/napravleniya-kliniki/article_post/revmatolog	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/revmatolog
Redirect 301	/napravleniya-kliniki/article_post/stomatologiya	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/stomatologiya
Redirect 301	/napravleniya-kliniki/article_post/therapy	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/therapy
Redirect 301	/napravleniya-kliniki/article_post/travmatolog-ortoped	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/travmatolog-ortoped
Redirect 301	/napravleniya-kliniki/article_post/travmologiya	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/travmologiya
Redirect 301	/napravleniya-kliniki/article_post/ultrasound-diagnostics	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/ultrasound-diagnostics
Redirect 301	/napravleniya-kliniki/article_post/urology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/urology
Redirect 301	/napravleniya-kliniki/article_post/vse-vidy-analizov	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/vse-vidy-analizov
Redirect 301	/napravleniya-kliniki/article_post/phlebology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/phlebology
Redirect 301	/napravleniya-kliniki/article_post/funktsionalnyy-diagnost	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/funktsionalnyy-diagnost
Redirect 301	/napravleniya-kliniki/article_post/hirurg	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/hirurg
Redirect 301	/napravleniya-kliniki/article_post/endocrinology	https://xn--e1afaobah5bbf3a.xn--p1ai/napravleniya-kliniki/endocrinology
Redirect 301	/stati/article_post/kogda-neobhodimo-uzi-pecheni	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kogda-neobhodimo-uzi-pecheni
Redirect 301	/stati/article_post/dlya-chego-sdayut-krov-na-analiz	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/dlya-chego-sdayut-krov-na-analiz
Redirect 301	/stati/article_post/dosye-na-melanomu	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/dosye-na-melanomu
Redirect 301	/stati/article_post/zachem-obrashchatsya-k-koloproktologu	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/zachem-obrashchatsya-k-koloproktologu
Redirect 301	/stati/article_post/chem-opasno-vnutriglaznoye-davleniye	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/chem-opasno-vnutriglaznoye-davleniye
Redirect 301	/stati/article_post/kak-podgotovitsya-k-uzi-pochek-mochevyvodyashchikh-putey-mochevogo-puzyrya	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kak-podgotovitsya-k-uzi-pochek-mochevyvodyashchikh-putey-mochevogo-puzyrya
Redirect 301	/stati/article_post/kak-pravilno-sdavat-analiz-mochi	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kak-pravilno-sdavat-analiz-mochi
Redirect 301	/stati/article_post/kak-perestat-boyatsya-stomatologa	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kak-perestat-boyatsya-stomatologa
Redirect 301	/stati/article_post/kakiye-analizy-sdavat-pri-planirovanii-beremennosti	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kakiye-analizy-sdavat-pri-planirovanii-beremennosti
Redirect 301	/stati/article_post/kakiye-analizy-sdayut-na-gormony-shchitovidnoy-zhelezy	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kakiye-analizy-sdayut-na-gormony-shchitovidnoy-zhelezy
Redirect 301	/stati/article_post/kakiye-zabolevaniya-vyyavlyayet-nevrolog	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kakiye-zabolevaniya-vyyavlyayet-nevrolog
Redirect 301	/stati/article_post/kakiye-zabolevaniya-vyyavlyayet-ekg	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kakiye-zabolevaniya-vyyavlyayet-ekg
Redirect 301	/stati/article_post/kakie-detskie-zabolevaniya-lechit-gastroenterolog	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kakie-detskie-zabolevaniya-lechit-gastroenterolog
Redirect 301	/stati/article_post/kakiye-privivki-delayut-detyam-do-goda	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kakiye-privivki-delayut-detyam-do-goda
Redirect 301	/stati/article_post/kakiye-sdavat-analizy-na-proverku-shchitovidnoy-zhelezy	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kakiye-sdavat-analizy-na-proverku-shchitovidnoy-zhelezy
Redirect 301	/stati/article_post/pervaya-obuv-dlya-malysha	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/pervaya-obuv-dlya-malysha
Redirect 301	/stati/article_post/kogda-nuzhna-meditsinskaya-spravka-gde-i-kak-yeye-poluchit	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/kogda-nuzhna-meditsinskaya-spravka-gde-i-kak-yeye-poluchit
Redirect 301	/stati/article_post/medosmotr-i-analizy-dlya-detskogo-sada	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/medosmotr-i-analizy-dlya-detskogo-sada
Redirect 301	/stati/article_post/fizicheskie-nagruzki-pri-beremennosti	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/fizicheskie-nagruzki-pri-beremennosti
Redirect 301	/stati/article_post/podgotovka-patsiyenta-k-fgds	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/podgotovka-patsiyenta-k-fgds
Redirect 301	/stati/article_post/pokazaniya-dlya-obrashcheniya-k-loru	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/pokazaniya-dlya-obrashcheniya-k-loru
Redirect 301	/stati/article_post/pokazaniya-dlya-obrashcheniya-k-onkologu	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/pokazaniya-dlya-obrashcheniya-k-onkologu
Redirect 301	/stati/article_post/profilaktika-skolioza-u-detej	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/profilaktika-skolioza-u-detej
Redirect 301	/stati/article_post/profilaktika-yazvy-zheludka	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/profilaktika-yazvy-zheludka
Redirect 301	/stati/article_post/chem-opasno-ozhireniye-u-detey	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/chem-opasno-ozhireniye-u-detey
Redirect 301	/stati/article_post/seryezno-o-tsistite	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/seryezno-o-tsistite
Redirect 301	/stati/article_post/simptomy-i-lechenie-ahalazii-pishchevoda	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/simptomy-i-lechenie-ahalazii-pishchevoda
Redirect 301	/stati/article_post/sposoby-lecheniya-gaymorita	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/sposoby-lecheniya-gaymorita
Redirect 301	/stati/article_post/sposoby-lecheniya-mercatelnoj-aritmii	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/sposoby-lecheniya-mercatelnoj-aritmii
Redirect 301	/stati/article_post/udaleniye-borodavok	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/udaleniye-borodavok
Redirect 301	/stati/article_post/udaleniye-rodinok	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/udaleniye-rodinok
Redirect 301	/stati/article_post/sutochnyy-monitoring-ekg-i-ad	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/sutochnyy-monitoring-ekg-i-ad
Redirect 301	/stati/article_post/hronicheskij-pankreatit-u-detej	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/hronicheskij-pankreatit-u-detej
Redirect 301	/stati/article_post/chto-takoye-arterialnaya-gipertenziya	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/chto-takoye-arterialnaya-gipertenziya
Redirect 301	/stati/article_post/chto-takoye-biokhimicheskiy-analiz-krovi-i-dlya-chego-on-nuzhen	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/chto-takoye-biokhimicheskiy-analiz-krovi-i-dlya-chego-on-nuzhen
Redirect 301	/stati/article_post/nervnyye-tiki-prichiny-i-lecheniye	https://xn--e1afaobah5bbf3a.xn--p1ai/stati/nervnyye-tiki-prichiny-i-lecheniye
Redirect 301	/uslugi/article_post/laboratory	https://xn--e1afaobah5bbf3a.xn--p1ai//laboratory
Redirect 301	/uslugi/article_post/documentation	https://xn--e1afaobah5bbf3a.xn--p1ai/uslugi/documentation
Redirect 301	/uslugi/article_post/certificate	https://xn--e1afaobah5bbf3a.xn--p1ai/uslugi/certificate
Redirect 301	/uslugi/article_post/inspections	https://xn--e1afaobah5bbf3a.xn--p1ai/uslugi/inspections
