Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag allow_call_time_pass_reference 1
  php_flag session.use_trans_sid off

  #php_value display_errors 1

  #php_value mbstring.func_overload 2
  #php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([^.]+)(?<!/)$ /$1/ [R=301,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
</IfModule>

Redirect 301	/napravleniya-kliniki/article_post/akusher-ginekolog	http://im.btx.bz/napravleniya-kliniki/akusher-ginekolog
Redirect 301	/napravleniya-kliniki/article_post/bolnichnyye-listy	http://im.btx.bz/napravleniya-kliniki/bolnichnyye-listy
Redirect 301	/napravleniya-kliniki/article_post/bolnichnyy-list-po-beremennosti	http://im.btx.bz/napravleniya-kliniki/bolnichnyy-list-po-beremennosti
Redirect 301	/napravleniya-kliniki/article_post/vyyezd-uzi-na-dom	http://im.btx.bz/napravleniya-kliniki/vyyezd-uzi-na-dom
Redirect 301	/napravleniya-kliniki/article_post/gastroinerolog	http://im.btx.bz/napravleniya-kliniki/gastroinerolog
Redirect 301	/napravleniya-kliniki/article_post/gastroskopiya	http://im.btx.bz/napravleniya-kliniki/gastroskopiya
Redirect 301	/napravleniya-kliniki/article_post/gynecology	http://im.btx.bz/napravleniya-kliniki/gynecology
Redirect 301	/napravleniya-kliniki/article_post/dermatovenereology	http://im.btx.bz/napravleniya-kliniki/dermatovenereology
Redirect 301	/napravleniya-kliniki/article_post/zabor-krovi-na-domu	http://im.btx.bz/napravleniya-kliniki/zabor-krovi-na-domu
Redirect 301	/napravleniya-kliniki/article_post/cardiology	http://im.btx.bz/napravleniya-kliniki/cardiology
Redirect 301	/napravleniya-kliniki/article_post/koloproktolog	http://im.btx.bz/napravleniya-kliniki/koloproktolog
Redirect 301	/napravleniya-kliniki/article_post/manualnyy-terapevt	http://im.btx.bz/napravleniya-kliniki/manualnyy-terapevt
Redirect 301	/napravleniya-kliniki/article_post/massazh	http://im.btx.bz/napravleniya-kliniki/massazh
Redirect 301	/napravleniya-kliniki/article_post/neurology	http://im.btx.bz/napravleniya-kliniki/neurology
Redirect 301	/napravleniya-kliniki/article_post/neonatology	http://im.btx.bz/napravleniya-kliniki/neonatology
Redirect 301	/napravleniya-kliniki/article_post/onkoginekolog	http://im.btx.bz/napravleniya-kliniki/onkoginekolog
Redirect 301	/napravleniya-kliniki/article_post/onkodermatolog	http://im.btx.bz/napravleniya-kliniki/onkodermatolog
Redirect 301	/napravleniya-kliniki/article_post/onkologiya	http://im.btx.bz/napravleniya-kliniki/onkologiya
Redirect 301	/napravleniya-kliniki/article_post/otolaryngology	http://im.btx.bz/napravleniya-kliniki/otolaryngology
Redirect 301	/napravleniya-kliniki/article_post/ophthalmology	http://im.btx.bz/napravleniya-kliniki/ophthalmology
Redirect 301	/napravleniya-kliniki/article_post/pediatrics	http://im.btx.bz/napravleniya-kliniki/pediatrics
Redirect 301	/napravleniya-kliniki/article_post/plastic-surgery	http://im.btx.bz/napravleniya-kliniki/plastic-surgery
Redirect 301	/napravleniya-kliniki/article_post/psychiatry	http://im.btx.bz/napravleniya-kliniki/psychiatry
Redirect 301	/napravleniya-kliniki/article_post/revmatolog	http://im.btx.bz/napravleniya-kliniki/revmatolog
Redirect 301	/napravleniya-kliniki/article_post/stomatologiya	http://im.btx.bz/napravleniya-kliniki/stomatologiya
Redirect 301	/napravleniya-kliniki/article_post/therapy	http://im.btx.bz/napravleniya-kliniki/therapy
Redirect 301	/napravleniya-kliniki/article_post/travmatolog-ortoped	http://im.btx.bz/napravleniya-kliniki/travmatolog-ortoped
Redirect 301	/napravleniya-kliniki/article_post/travmologiya	http://im.btx.bz/napravleniya-kliniki/travmologiya
Redirect 301	/napravleniya-kliniki/article_post/ultrasound-diagnostics	http://im.btx.bz/napravleniya-kliniki/ultrasound-diagnostics
Redirect 301	/napravleniya-kliniki/article_post/urology	http://im.btx.bz/napravleniya-kliniki/urology
Redirect 301	/napravleniya-kliniki/article_post/vse-vidy-analizov	http://im.btx.bz/napravleniya-kliniki/vse-vidy-analizov
Redirect 301	/napravleniya-kliniki/article_post/phlebology	http://im.btx.bz/napravleniya-kliniki/phlebology
Redirect 301	/napravleniya-kliniki/article_post/funktsionalnyy-diagnost	http://im.btx.bz/napravleniya-kliniki/funktsionalnyy-diagnost
Redirect 301	/napravleniya-kliniki/article_post/hirurg	http://im.btx.bz/napravleniya-kliniki/hirurg
Redirect 301	/napravleniya-kliniki/article_post/endocrinology	http://im.btx.bz/napravleniya-kliniki/endocrinology
Redirect 301	/stati/article_post/kogda-neobhodimo-uzi-pecheni	http://im.btx.bz/stati/kogda-neobhodimo-uzi-pecheni
Redirect 301	/stati/article_post/dlya-chego-sdayut-krov-na-analiz	http://im.btx.bz/stati/dlya-chego-sdayut-krov-na-analiz
Redirect 301	/stati/article_post/dosye-na-melanomu	http://im.btx.bz/stati/dosye-na-melanomu
Redirect 301	/stati/article_post/zachem-obrashchatsya-k-koloproktologu	http://im.btx.bz/stati/zachem-obrashchatsya-k-koloproktologu
Redirect 301	/stati/article_post/chem-opasno-vnutriglaznoye-davleniye	http://im.btx.bz/stati/chem-opasno-vnutriglaznoye-davleniye
Redirect 301	/stati/article_post/kak-podgotovitsya-k-uzi-pochek-mochevyvodyashchikh-putey-mochevogo-puzyrya	http://im.btx.bz/stati/kak-podgotovitsya-k-uzi-pochek-mochevyvodyashchikh-putey-mochevogo-puzyrya
Redirect 301	/stati/article_post/kak-pravilno-sdavat-analiz-mochi	http://im.btx.bz/stati/kak-pravilno-sdavat-analiz-mochi
Redirect 301	/stati/article_post/kak-perestat-boyatsya-stomatologa	http://im.btx.bz/stati/kak-perestat-boyatsya-stomatologa
Redirect 301	/stati/article_post/kakiye-analizy-sdavat-pri-planirovanii-beremennosti	http://im.btx.bz/stati/kakiye-analizy-sdavat-pri-planirovanii-beremennosti
Redirect 301	/stati/article_post/kakiye-analizy-sdayut-na-gormony-shchitovidnoy-zhelezy	http://im.btx.bz/stati/kakiye-analizy-sdayut-na-gormony-shchitovidnoy-zhelezy
Redirect 301	/stati/article_post/kakiye-zabolevaniya-vyyavlyayet-nevrolog	http://im.btx.bz/stati/kakiye-zabolevaniya-vyyavlyayet-nevrolog
Redirect 301	/stati/article_post/kakiye-zabolevaniya-vyyavlyayet-ekg	http://im.btx.bz/stati/kakiye-zabolevaniya-vyyavlyayet-ekg
Redirect 301	/stati/article_post/kakie-detskie-zabolevaniya-lechit-gastroenterolog	http://im.btx.bz/stati/kakie-detskie-zabolevaniya-lechit-gastroenterolog
Redirect 301	/stati/article_post/kakiye-privivki-delayut-detyam-do-goda	http://im.btx.bz/stati/kakiye-privivki-delayut-detyam-do-goda
Redirect 301	/stati/article_post/kakiye-sdavat-analizy-na-proverku-shchitovidnoy-zhelezy	http://im.btx.bz/stati/kakiye-sdavat-analizy-na-proverku-shchitovidnoy-zhelezy
Redirect 301	/stati/article_post/pervaya-obuv-dlya-malysha	http://im.btx.bz/stati/pervaya-obuv-dlya-malysha
Redirect 301	/stati/article_post/kogda-nuzhna-meditsinskaya-spravka-gde-i-kak-yeye-poluchit	http://im.btx.bz/stati/kogda-nuzhna-meditsinskaya-spravka-gde-i-kak-yeye-poluchit
Redirect 301	/stati/article_post/medosmotr-i-analizy-dlya-detskogo-sada	http://im.btx.bz/stati/medosmotr-i-analizy-dlya-detskogo-sada
Redirect 301	/stati/article_post/fizicheskie-nagruzki-pri-beremennosti	http://im.btx.bz/stati/fizicheskie-nagruzki-pri-beremennosti
Redirect 301	/stati/article_post/podgotovka-patsiyenta-k-fgds	http://im.btx.bz/stati/podgotovka-patsiyenta-k-fgds
Redirect 301	/stati/article_post/pokazaniya-dlya-obrashcheniya-k-loru	http://im.btx.bz/stati/pokazaniya-dlya-obrashcheniya-k-loru
Redirect 301	/stati/article_post/pokazaniya-dlya-obrashcheniya-k-onkologu	http://im.btx.bz/stati/pokazaniya-dlya-obrashcheniya-k-onkologu
Redirect 301	/stati/article_post/profilaktika-skolioza-u-detej	http://im.btx.bz/stati/profilaktika-skolioza-u-detej
Redirect 301	/stati/article_post/profilaktika-yazvy-zheludka	http://im.btx.bz/stati/profilaktika-yazvy-zheludka
Redirect 301	/stati/article_post/chem-opasno-ozhireniye-u-detey	http://im.btx.bz/stati/chem-opasno-ozhireniye-u-detey
Redirect 301	/stati/article_post/seryezno-o-tsistite	http://im.btx.bz/stati/seryezno-o-tsistite
Redirect 301	/stati/article_post/simptomy-i-lechenie-ahalazii-pishchevoda	http://im.btx.bz/stati/simptomy-i-lechenie-ahalazii-pishchevoda
Redirect 301	/stati/article_post/sposoby-lecheniya-gaymorita	http://im.btx.bz/stati/sposoby-lecheniya-gaymorita
Redirect 301	/stati/article_post/sposoby-lecheniya-mercatelnoj-aritmii	http://im.btx.bz/stati/sposoby-lecheniya-mercatelnoj-aritmii
Redirect 301	/stati/article_post/udaleniye-borodavok	http://im.btx.bz/stati/udaleniye-borodavok
Redirect 301	/stati/article_post/udaleniye-rodinok	http://im.btx.bz/stati/udaleniye-rodinok
Redirect 301	/stati/article_post/sutochnyy-monitoring-ekg-i-ad	http://im.btx.bz/stati/sutochnyy-monitoring-ekg-i-ad
Redirect 301	/stati/article_post/hronicheskij-pankreatit-u-detej	http://im.btx.bz/stati/hronicheskij-pankreatit-u-detej
Redirect 301	/stati/article_post/chto-takoye-arterialnaya-gipertenziya	http://im.btx.bz/stati/chto-takoye-arterialnaya-gipertenziya
Redirect 301	/stati/article_post/chto-takoye-biokhimicheskiy-analiz-krovi-i-dlya-chego-on-nuzhen	http://im.btx.bz/stati/chto-takoye-biokhimicheskiy-analiz-krovi-i-dlya-chego-on-nuzhen
Redirect 301	/stati/article_post/nervnyye-tiki-prichiny-i-lecheniye	http://im.btx.bz/stati/nervnyye-tiki-prichiny-i-lecheniye
Redirect 301	/uslugi/article_post/laboratory	http://im.btx.bz//laboratory
Redirect 301	/uslugi/article_post/documentation	http://im.btx.bz/uslugi/documentation
Redirect 301	/uslugi/article_post/certificate	http://im.btx.bz/uslugi/certificate
Redirect 301	/uslugi/article_post/inspections	http://im.btx.bz/uslugi/inspections
